<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Exe_1_PABD.Properties.Settings.ProdiTIConnectionString"
            connectionString="Data Source=LAPTOP-LO9JU2EQ\SQLEXPRESS;Initial Catalog=ProdiTI;User ID=sa;Password=Pekanbaru01"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>